{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-uppercase text-center">Bienvenue à la Sonatel Academy</h2>
    
    <div class="chart-container">
        <canvas id="barcanvas" aria-label="chart" role="img"></canvas>
    </div>

{% endblock %}
