{% extends 'base.html.twig' %}

{% block body %}

  <div class="container col-8 mt-5">
    <div class="card ml-5">
      <div class="card-body">
        <h4 class="card-title">LISTE DES CLASSES</h4>
        <p class="card-text">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end sticky">
            <a href="">
              <i class="fa-solid fa-plus"></i>
            </a>
            <button class="text-light btn btn-primary me-md-2" value="" type="button">Nouvelle</button>
          </div>
        
          <table class="table table-striped table-bordered table-hover text-center">
            <thead>
              <tr>
                <th scope="col">Libelle</th>
                <th scope="col">Niveau</th>
                <th scope="col">Fillière</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
           
                  <tr>
                      <td scope="row"></td>
                      <td></td>

                      <td></td>

                      <td class="d-flex justify-content-around align-self-center">    
                        <button type="submit" class="btn btn-outline-primary">
                          <a href="">
                            <i class="fa-solid fa-pen-to-square"></i>
                          </a>
                        </button>
                        
                        <button type="submit" class="btn btn-outline-primary">
                          <i class="fa-solid fa-person-chalkboard"></i>
                        </button>
                    
                        
                        <button type="submit" class="btn btn-outline-primary">
                          <input type="hidden" name="id" value="">
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                    
                      </td>
                  </tr>
             </tbody>
          </table>
        </p>
      </div>
    </div> 
    {# <div class='d-flex justify-content-center'>
        {% do classes.setPageRange(2) %}
        {{ knp_pagination_render(classes, 'base/pagination.html.twig') }}
    </div> #}

{% endblock %}