% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>LISTE DES MODULES</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Libelle</th>
    </tr>
  </thead>
  <tbody>
    {% for module in modules %}

    <tr>
      <td>{{module.libelle}}</td>
    </tr>
     {% endfor %} 
  </tbody>
</table>
<div class="d-flex justify-content-center">
{% do modules.setPageRange(10) %}
{{knp_pagination_render(modules,'pagination.html.twig')}}
</div>
{% endblock %}







<div class="card ml-5">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
        <h4 class="card-title">LISTE DES MODULES</h4>
        <p class="card-text">
        
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <i class="plus fa-solid fa-plus"></i>
            <button class="text-light btn btn-info me-md-2" type="button">Nouveau</button>
          </div>

          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Nom Module</th>
                <th scope="col">Actions</th>
              </tr> 
            </thead>
            <tbody id="newTr">
              <?php foreach ($modules as $module): ?>
                <tr>
                    <td class="module"><?= $module->nom_module ?></td>
                    <td>
                      <button type="button" class="btn btn-outline-info">
                        <i class="fa-solid fa-person-chalkboard"></i>
                      </button>
                      <button type="button" class="btn btn-outline-info">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </td>

                </tr>
              <?php endforeach ?>
            </tbody>
          </table>

        </p>
    </div>
</div>